$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@font-face{
  font-family:"Gravur";
  src:url('GravurCondensedRegularRoman/gravur.eot');
  src:url('GravurCondensedRegularRoman/gravur.eot?#iefix') format('embedded-opentype'),
    url('GravurCondensedRegularRoman/gravur.woff') format('woff'),
    url('GravurCondensedRegularRoman/gravur.ttf')  format('truetype'),
    url('GravurCondensedRegularRoman/gravur.svg#svgFontName') format('svg')
}

@font-face {
  font-family: 'Akkurat';
  src: url('Akkurat/Akkurat.eot?#iefix') format('embedded-opentype'),
    url('Akkurat/Akkurat.woff') format('woff'),
    url('Akkurat/Akkurat.ttf')  format('truetype'),
    url('Akkurat/Akkurat.svg#Akkurat') format('svg');
  font-weight: normal;
  font-style: normal;
}


// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  width: 1920px;
  height: 1080px;
  font-family: 'Akkurat';
  overflow: hidden;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.container {
  width: 1920px;
  height: 1080px;

  overflow: hidden;

  background-image: -webkit-linear-gradient(135deg,rgb(64,131,212) 0%,rgb(65,67,176) 100%);
  background-image: linear-gradient(135deg,rgb(64,131,212) 0%,rgb(65,67,176) 100%);
}

#topView {
  padding: 50px;
}

h1#main {
  color: white;
  margin-top: -20px;
  font-size: 5em;
  font-family: 'Gravur';
  text-transform: uppercase;
}

#bottomView {
  overflow: hidden;
  padding: 70px 50px;
}

h3#main {
  color: white;
  font-size: 2.6em;
  font-family: 'Gravur';
  text-transform: uppercase;
}

p#main-description {
  color: white;
  font-size: 2em;
}

.carousel-inner {
  height: 420px;
  position: relative;
}
.carousel-indicators {
  bottom: 200px;
  li, li.active {
    margin: 0 5px;
  }
}

#appointments {
  width: 3800px;
  margin: 50px 0;

  &.remove {
    transform: translate(1920px, 0) !important;
    opacity: 0
  }

  &.remove2 {
    transform: translate(-3800px, 0) !important;
    opacity: 0
  }

  .appointment {

    position: relative;

    border-left: 5px solid rgba(255,255,255,.3);
    height: 780px;
    padding: 0 50px;
    width: 1860px;

    .appointment-title {
      color: white;
      margin-top: 0px;
      margin-bottom: 50px;
      font-size: 4em;
      font-family: 'Gravur';
      text-transform: uppercase;
    }
    .singleappointment {

      width: 320px;
      margin-right: 10px;
      display: inline-block;
      vertical-align: top;
      font-size: 1.5em;

      .appointee {
        height: 250px;
        background-color: white;
        padding: 20px;
        .appointee-name {
          font-size: 2em;
          font-family: 'Gravur';
          text-transform: uppercase;
        }
        .appointee-description {
          font-size: 1em;
          font-weight: bold;
          margin-bottom: 0px;
          color: #999;
        }
      }
      .expert {
        height: 130px;
        background-color: #3B6AC6;
        padding: 20px;
        position: relative;

        .info {
          color: rgba(255,255,255,.5);
        }
        .expert-name {
          color: white;
          font-size: 1.6em;
        }
        .expert-image {
          width: 200px;
          height: 200px;
          margin-top: 30px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          clip-path: polygon(100px 0px, 170px 30px, 200px 100px, 170px 170px, 100px 200px, 30px 170px, 0px 100px, 30px 30px);
        }
        &:after {
          position: absolute;
          content: '';
          width: 280px;
          height: 30px;
          bottom: -50px;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(../images/shado.png);
        }
      }
    }

    .appointments-available {
      background-color: #3B6AC6;
      margin-top: 50px;
      height: 200px;
      width: 1640px;
      padding: 30px;
      .slots {
        background-image: url(../images/slots.png);
        height: 150px;
        font-family: 'Gravur';
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 4em;
        color: white;
        text-align: Center;
        line-height: 120px;
      }
      .appo {
        font-family: 'Gravur';
        color: white;
        font-size: 2.6em;
        padding: 20px 0;
        text-transform: uppercase;
      }
      .booksess {
        font-size: 2.2em;
        line-height: 120px;
        color: white;
        font-weight: bold;
      }
      .times {
        background-image: url(../images/times.png);
        height: 150px;
        font-family: 'Gravur';
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 3em;
        color: white;
        text-align: Center;
        line-height: 120px;
        color: #3B6AC6;
      }
    }
  }

  .appointment-info {
    &>div {
      padding: 30px;
      width: 350px;
      height: 500px;
      background-color: #3B6AC6;
      position: absolute;

      .appointment-available {
        font-size: 3em;
        line-height: 100px;
        color: white;
        width: 100px;
        height: 100px;
        background-color: #4090D9;
        text-align: center;
        font-family: 'Gravur';
        text-transform: uppercase;
        clip-path: polygon(50px 0px, 85px 15px, 100px 50px, 85px 85px, 50px 100px, 15px 85px, 0px 50px, 15px 15px);
      }
      .info-available {
        font-family: 'Gravur';
        text-transform: uppercase;
        color: white;
        font-size: 3em;
      }

      p {
        color: white;
        font-size: 1.4em;

        span {
          font-weight: bold;
        }
      }

      &:after {
        position: absolute;
        content: '';
        width: 350px;
        left: 0px;
        height: 30px;
        bottom: -150px;
        background-image: url(../images/shado.png);
      }
    }
  }
}

#masterclasses {
  margin-top: 100px;
  .masterclass {
    position: relative;
    margin-bottom: 10px;
    color: white;
    padding: 30px 0;
    width: 700px;
    background-color: #3673CC;
    height: 190px;

    .over {
      position: absolute;
      top: 0px;
      height: 190px;
      width: 700px;
    }
    .under {
      &>div {
        background-color: #FFF;
        height: 190px;
        color: #3673CC;
        width: 700px;
      }

      width: 700px;
      position: absolute;
      top: 0px;
      text-overflow: hidden;
      white-space: nowrap;
      overflow: hidden;
      clip-path: polygon(0px 0px, 0px 0px, 0px 190px, 0px 190px);
      transition: 1s cubic-bezier(0.420, 0.000, 0.580, 1.000) all;

      .masterclass-time {
        font-family: 'Gravur';
        text-transform: uppercase;
        color: white;
        font-size: 2em;
        text-indent: 20px;
        color: #3673CC;
      }
    }

    &.active {
      background-image: url(../images/active.png);
      background-repeat: no-repeat;
      background-position: right center;
      .under {
        clip-path: polygon(0px 0px, 700px 0px, 700px 190px, 0px 190px);
      }
      .over {
      }

      &.after {
        .under {
          clip-path: polygon(700px 0px, 700px 0px, 700px 190px, 700px 190px);
        }
      }
    }
    .masterclass-time {
      font-family: 'Gravur';
      text-transform: uppercase;
      color: white;
      font-size: 2em;
      text-indent: 20px;
    }
    .masterclass-title {
      font-size: 1.8em;
      font-weight: bold;
    }
    .masterclass-description {
      font-size: 1.4em;
    }
  }
}

#carousel {
  .carousel-image {
    margin-top: 100px;

    &:after {
      position: absolute;
      content: '';
      width: 1014px;
      left: 0px;
      height: 30px;
      bottom: -100px;
      background-image: url(../images/shadolong.png);
    }
  }
}

// ANIMS
.slide-show {
  position: absolute;
  top: 0px;
} 

/* The starting CSS styles for the enter animation */
.slide-show.ng-enter {
  transition:1s cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  opacity:0;
  transform: translate(1000px, 0px);
}

/* The starting CSS styles for the enter animation */
.slide-show.ng-enter.ng-enter-active {
  opacity:1;
  transform: translate(0px, 0px);
}

.slide-show.ng-leave {
  transition:1s cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  opacity:1;
  transform: translate(0px, 0px);
}
.slide-show.ng-leave.ng-leave-active {
  opacity:1;
  transform: translate(-1000px, 0px);
}

.singleappointment {
  opacity:1;
  transition: 1s cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
}

.appointmentslide-in {
  opacity:0;
  transform: translate(200px, 0px);
}

.appointmentslide-out {
  transition: 1.5s cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  transform: translate(-200px, 0px) !important;
  opacity: 0;
}

#appointments {
  transition: 1.5s cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
}

#appointments.move {
  transform: translate(-1860px, 0px); 
}

//

.class-show {
  transition:1s cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  position: absolute;
  margin-top: 210px;
} 

/* The starting CSS styles for the enter animation */
.class-show.ng-enter {
  transition:1s cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  opacity:0;
  transform: translate(-1000px, 0px);
}

/* The starting CSS styles for the enter animation */
.class-show.ng-enter.ng-enter-active {
  opacity:1;
  transform: translate(0px, 0px);
}

.class-show.ng-leave {
  transition:1s cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  opacity:1;
  transform: translate(0px, 0px);
}
.class-show.ng-leave.ng-leave-active {
  opacity:1;
  transform: translate(1000px, 0px);
}

.class-show.remove {
  transform: translate(500px, 0px);
  opacity: 0
}

//

.classtime, .classtimesub {
  position: absolute;
  transition:1s cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
} 
.classtime {
  top: 0px;
}
.classtime.remove {
  transform: translate(0px, -100px);
  opacity: 0
}
.classtimesub {
  top: 70px;
}
.classtimesub.remove {
  transform: translate(0px, -100px);
  opacity: 0
}

/* The starting CSS styles for the enter animation */
.classtime.ng-enter, .classtimesub.ng-enter {
  -webkit-animation-delay: 2s;
  transition:1s cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  opacity:0;
  transform: translate(0px, 50px);
}

/* The starting CSS styles for the enter animation */
.classtime.ng-enter.ng-enter-active, .classtimesub.ng-enter.ng-enter-active {
  opacity:1;
  transform: translate(0px, 0px);
}

.classtime.ng-leave, .classtimesub.ng-leave {
  transition:1s cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  opacity:1;
  transform: translate(0px, 0px);
}
.classtime.ng-leave.ng-leave-active, .classtimesub.ng-leave.ng-leave-active {
  opacity:0;
  transform: translate(0px, -50px);
}

#main {
  transition:1s cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  &.remove {
    transform: translate(0px, -100px);
    opacity: 0
  }
}

#main-description {
  transition:1s cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  &.remove {
    transform: translate(0px, -100px);
    opacity: 0
  }
}

.masterclass {
  transition:1s cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  &.remove {
    transform: translate(-500px, 0px);
    opacity: 0
  }
}

#masterclassesslides {
  width: 100%;
  .masterclassslide {
    width: 1850px;
    .masterclassslide-title {
      margin-top: 250px;
      font-family: 'Gravur';
      text-transform: uppercase;
      color: white;
      font-size: 7em;
      font-weight: normal;
      span {
        color: rgba(255,255,255,.5);
      }
    }
    .masterclassslide-description {
      font-size: 2.4em;
      color: rgba(255,255,255,.8);
    }
    .masterclassslide-ask {
      color: white;
      font-size: 2.8em;
      font-weight: bold;
    }
    .masterclassslide-image {
      margin-top: 100px;
      margin-left: -50px;

    }
  }
}

// .slides-show {
//   transition:1s cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
//   position: absolute;
//   // margin-top: 210px;
// } 

// /* The starting CSS styles for the enter animation */
// .slides-show.ng-enter {
//   transition:1s cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
//   opacity:0;
//   // transform: translate(-1000px, 0px);
// }

// /* The starting CSS styles for the enter animation */
// .slides-show.ng-enter.ng-enter-active {
//   opacity:1;
//   // transform: translate(0px, 0px);
// }

// .slides-show.ng-leave {
//   transition:1s cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
//   opacity:1;
//   // transform: translate(0px, 0px);
// }
// .slides-show.ng-leave.ng-leave-active {
//   opacity:1;
//   // transform: translate(1000px, 0px);
// }

// .slides-show.remove {
//   // transform: translate(500px, 0px);
//   opacity: 0
// }