
@font-face {
  font-family: 'Akkurat';
  src: url('Akkurat.eot?#iefix') format('embedded-opentype'),  url('Akkurat.woff') format('woff'), url('Akkurat.ttf')  format('truetype'), url('Akkurat.svg#Akkurat') format('svg');
  font-weight: normal;
  font-style: normal;
}
