<div class="col-md-5">
  <h3 id="main" class="{{removeclassh1}}">Tomorrow's Free Masterclass</h3>
  <p id="main-description" class="{{removeclassh2}}">Book a class with any of our team members</p>

  <div id="masterclasses">
    <div class="masterclass {{activeafter}} {{masterclass.remove}}" id="masterclass-{{$index}}" ng-repeat="masterclass in masterclasses track by $index" ng-class="masterclass.active == true ? 'active' : ''">
      <div class="over">
        <div class="col-md-2">
          <h4 class="masterclass-time">{{masterclass.time}}</h4>
        </div>
        <div class="col-md-10">
          <h4 class="masterclass-title">{{masterclass.title}}</h4>
          <p class="masterclass-description">{{masterclass.description}} {{masterclass.active}}</p>
        </div>
      </div>
      <div class="under">
        <div>
          <div class="col-md-2">
            <h4 class="masterclass-time">{{masterclass.time}}</h4>
          </div>
          <div class="col-md-10">
            <h4 class="masterclass-title">{{masterclass.title}}</h4>
            <p class="masterclass-description">{{masterclass.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-7" style="overflow: hidden; height: 1000px;">
  <div id="carousel">
    <h3 ng-repeat="masterclass in masterclasses" ng-if="masterclass.active" id="main" class="classtime {{removeclasstimeh1}}">Next Up: {{masterclass.title}}</h3>
    <p ng-repeat="masterclass in masterclasses" ng-if="masterclass.active" id="main-description" class="classtimesub {{removeclasstimeh2}}">Begins in {{masterclass.begins}}</b></p>
  </div>
  <div class="carousel-image class-show {{removeCarousel}}" ng-repeat="masterclass in masterclasses" ng-if="masterclass.active">
    <div class="carousel-item">
      <img src="images/car/{{masterclass.id}}.png" />
    </div>
  </div>
</div>