<div id="masterclassesslides" style="margin: -70px;">
  <div class="masterclassslide anim-show-hide slides-show" ng-repeat="masterclass in masterclasses" ng-if="masterclass.id == active">
    <!-- <div class="col-md-7">
      <h4 class="masterclassslide-title" ng-bind-html="masterclass.title"></h4>
      <p class="masterclassslide-description" ng-bind-html="masterclass.description"></p>
      <p class="masterclassslide-ask" ng-bind-html="masterclass.ask"></p>
    </div>
    <div class="col-md-5">
      <img class="masterclassslide-image" style="width: 100%;" src="images/slides/{{masterclass.image}}"></div>
    </div> -->
    <video width="1920" height="1080" autoplay>
      <source ng-src="{{trustSrc('videos/' + masterclass.src)}}" type="video/mp4">
    </video>
  </div>
</div>