<h1 id="main" class="{{removetech1}}">Welcome to the Techbar</h1>
<p id="main-description" class="{{removetech2}}">Make an appointment with any team member, or book online at <b>telstra.com/sydney</b></p>

<div id="appointments" class="{{removeappointments}}" ng-class="moveTime ? 'move' : ''">
  <div class="appointment slide {{appointment.classes}}" ng-repeat="appointment in appointments">
    
    <div ng-if="appointment.type == 'schedule'">
      <h3 class="appointment-title">{{appointment.time}}</h3>
      <div class="carousel-inner" role="listbox">
        <div ng-if="appointment.appointments.length > 5">
          <div ng-repeat="(key, value) in appointment.appointments | groupBy: 'group'" class="slide-show" ng-if="active == key" ><!-- mgic number 18 wohooo -->
            <div ng-repeat="appointment in value" class="singleappointment" ng-class="(appointment.index % 5 + 18) <= iclass ? 'appointmentslide-out' : '' + ' ' + (appointment.index % 5 + 2) <= iclass ? '' : 'appointmentslide-in';"> 
              <div class="appointee">
                <h5 class="appointee-name">{{appointment.name}} </h5>
                <p class="appointee-description" ng-repeat="description in appointment.descriptions">{{description}}</p>
              </div>
              <div class="expert">
                <div class="info">Your Expert is:</div>
                <h5 class="expert-name">{{appointment.expert}}</h5>
                <!-- <div class="expert-image" style="background-image: url(images/export/{{appointment.expertid}}.png)"></div> -->
              </div>
            </div>
          </div>
        </div>
        <div ng-if="appointment.appointments.length <= 5">
          <div ng-repeat="(key, value) in appointment.appointments | groupBy: 'group'" class="slide-show" ><!-- mgic number 18 wohooo -->
            <div ng-repeat="appointment in value" class="singleappointment" ng-class=""> 
              <div class="appointee">
                <h5 class="appointee-name">{{appointment.name}}</h5>
                <p class="appointee-description" ng-repeat="description in appointment.descriptions">{{description}}</p>
              </div>
              <div class="expert">
                <div class="info">Your Expert is:</div>
                <h5 class="expert-name">{{appointment.expert}}</h5>
                <!-- <div class="expert-image" style="background-image: url(images/export/{{appointment.expertid}}.png)"></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="appointments-available">
        <div class="col-md-1" style="width: 150px;">
          <h5 class="slots">12</h5>
        </div>
        <div class="col-md-3">
          <h5 class="appo">Appointments<br>Available Today</h5>
        </div>
        <div class="col-md-3" style="width: 20%;">
          <h5 class="booksess">Book a session at:</h5>
        </div>
        <div class="col-md-1" style="width: 150px;">
          <h5 class="times">12:00</h5>
        </div>
      </div>  
    </div>

    <div ng-if="appointment.type == 'info'" class="appointment-info">
      <h3 class="appointment-title">{{appointment.time}}</h3>
      <div class="" role="">
        <div>
          <h3 class="appointment-available">{{appointment.available}}</h3>
          <h3 class="info-available">
            Appointments available today
          </h3>
          <p style="margin-top: 20px;">Book a session at:</p>
          <p>
            <span ng-repeat="available in appointment.availables">{{available}}<span ng-if="!$last">, </span></span> 
          </p>
        </div>
      </div>
    </div>

    <ol class="carousel-indicators" ng-if="appointment.type == 'schedule' && appointment.appointments.length > 3">
       <li ng-repeat="(key, value) in appointment.appointments | groupBy: 'group'"  data-slide-to="{{key}}" ng-class="key == active ? 'active' : ''"></li> 
    </ol>

    <!-- <ol class="carousel-indicators">
      <li data-target="" data-slide-to="0" class="active"></li>
      <li data-target="" data-slide-to="1"></li>
    </ol> -->
  </div>
</div>